<header class="header">
  <ul class="slider-menu">
    <li>Home</li>
    <li>Projects</li>
  </ul>
  <hr>
</header>

<style>

.slider-menu {
	position: relative;
	margin: 0 auto;
	padding: 0;
	z-index: 1;
}
.slider-menu > li {
	display: inline-flex;
	padding: 14px;
	margin-left: 30%;
	color: #34be5b;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}
.slider-menu > li:hover {
	color: #1793d0;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}
</style>